.header{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
    background-image: url('./../../assets/img/Contour\ Line.svg');
    background-repeat: no-repeat;
    background-size:cover;
}
.ctexto{
    width: 30%;
    
}
h1{
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 2rem;
    color: white;
}
.header p{
    color: aliceblue;
}
.imagens {
    width: 40vw;
    position: relative;
    height: 406px;
}
 
.imagens > .minhaFoto {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18vw;
    border-radius: 50%;
}
 
.imagens > .circuloColorido {
    position: absolute;
    right: 7vw;
    bottom: 2.2vw;
    width: 20vw;
}
@media (max-width: 1100px) {    
    .header {
        padding: 3.5rem 1.5rem;
    }

 
    .titulo {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
 
    .paragrafo {
        margin-bottom: 1.5rem;
    }
 
    .imagens {
        height: 338px;
    }
   
    .imagens > .minhaFoto {
        width: 25vw;
    }
   
    .imagens > .circuloColorido {
        right: 10vw;
        width: 35vw;
    }

}
 
@media (max-width: 744px) {
    .header {
        padding: 2rem 1rem;
        display: block;
        
    }
    .ctexto{
        width: 90vw;
        text-align: center;
        
    }
 
    .titulo {
        margin-bottom: 2rem;
    }
 
    .paragrafo {
        margin-bottom: 2rem;
    }
 
    .imagens {
        height: 307px;
        padding: auto;
        width: 90vw;
    }
 
    .imagens > .minhaFoto, .imagens > .circuloColorido {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
   
    .imagens > .minhaFoto {
        width: 170px;
        transform: translate(5rem, 0px);
    }
   
    .imagens > .circuloColorido {
        width: 240px;
        transform: translate(-1.5rem, 0px);
    }
    h1{
        
        margin-top: 4rem;
    
}
}
