.container{
    background-color: rgb(67, 56, 120);
    height: 2.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 1;
}
.logo{
    margin-left: 2rem
}
.clinks{
   
    width:60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    display: inline;
    padding-right: 1rem;
    color: white;
    text-decoration: none;
}
.container a:hover{
    color: crimson;
}